In [53]:
set_1={1.0,True,"cage",5.0,1,True,5}
print(set_1)

{1.0, 'cage', 5.0}

In [10]:
len(set_1)

3

In [54]:
5==5.0

True

In [13]:
print(type(set_1))

<class 'set'>

In [56]:
set_3=set(("lion","elephant","tiger","wolf","jackal","lion"))
type(set_3)

set

In [18]:
for i in set_1:
    print(i)

1.0
cage
5.0

In [19]:
set_3.add("hyna")
print(set_3)

{'lion', 'hyna', 'elephant', 'jackal', 'tiger', 'wolf'}

In [20]:
set_3.add("pegion")
print(set_3)

{'lion', 'pegion', 'hyna', 'elephant', 'jackal', 'tiger', 'wolf'}

In [27]:
set_1.update(set_3)
print(set_1)

{'lion', 1.0, 'pegion', 'hyna', 5.0, 'cage', 'elephant', 'jackal', 'tiger', 'wolf'}

In [29]:
print("lion" in set_1)

True

In [30]:
print("parrot" not in set_1)

True

In [36]:
set_1.remove("hyna")

KeyError: 'hyna'

In [32]:
print("hyna" in set_1)

False

In [37]:
set_1.discard("hyna")

In [35]:
print("hyna" in set_1)

False

In [38]:
set_1.pop()

'lion'

In [39]:
print(set_1)

{1.0, 'pegion', 5.0, 'cage', 'elephant', 'jackal', 'tiger', 'wolf'}

In [40]:
set_1.pop()

1.0

In [41]:
print(set_1)

{'pegion', 5.0, 'cage', 'elephant', 'jackal', 'tiger', 'wolf'}

In [42]:
set_4={"dog","cat","tiger","giraffe","cage"}
set_union=set_3.union(set_4)
print(set_union)

{'lion', 'pegion', 'hyna', 'giraffe', 'dog', 'cage', 'elephant', 'cat', 'jackal', 'tiger', 'wolf'}

In [43]:
set_intersection=set_3.intersection(set_4)
print(set_intersection)

{'tiger'}

In [49]:
set_sym_diff=set_3.symmetric_difference(set_4)
print(set_sym_diff)

{'hyna', 'giraffe', 'dog', 'cage', 'elephant', 'cat', 'jackal', 'wolf'}

In [47]:
set_4.add("lion")
set_4.add("pegion")
print(set_3)

{'lion', 'pegion', 'hyna', 'elephant', 'jackal', 'tiger', 'wolf'}

In [48]:
print(set_4)

{'lion', 'pegion', 'giraffe', 'dog', 'cage', 'cat', 'tiger'}

TypeError: unsupported operand type(s) for +: 'set' and 'set'