In [4]:
tuple_1=("pen","eraser","pencil")

In [5]:
tuple_2=("pigeon")
tuple_3=("pigeon",)
print(type(tuple_2))
print(type(tuple_3))

<class 'str'>
<class 'tuple'>

In [6]:
(x,y,z)=tuple(("lion","tiger","hyna"))
print(x)
print(y)
print(z)

lion
tiger
hyna

In [2]:
(x,y,*z)=tuple(("lion","tiger","elephant","hyna","wolf"))
print(type(x))
print(type(y))
print(type(z))

<class 'str'>
<class 'str'>
<class 'list'>

In [11]:
print(z)

['elephant', 'hyna', 'wolf']

In [14]:
(x,*y,z)=tuple(("lion","tiger","hyna","wolf"))
print(type(x))
print(type(y))
print(type(z))

<class 'str'>
<class 'list'>
<class 'str'>

In [16]:
print(x)
print(y)
print(z)

lion
['tiger', 'hyna']
wolf

In [30]:
tuple_1=("lion","tiger","giraffe","jackal","wolf")
for i in tuple_1:
    print(i)

lion
tiger
giraffe
jackal
wolf

In [21]:
for i in range(len(tuple_1)):
    print(tuple_1[i])

lion
tiger
giraffe
jackal
wolf

In [33]:
i=0

while i<len(tuple_1):
    if i==2:
        i+=1
        continue
    
    print(tuple_1[i])
    i+=1

lion
tiger
jackal
wolf

In [35]:
tuple_1.count("wolf")

1

In [36]:
tuple_1.index("wolf")

4

In [39]:
tuple_1=(1,2,3,4)
tuple_2=(5,6,7,9)
list(tuple_1)+list(tuple_2)

[1, 2, 3, 4, 5, 6, 7, 9]

In [41]:
tuple_1+tuple_2

(1, 2, 3, 4, 5, 6, 7, 9)

In [44]:
tuple_1*2

(1, 2, 3, 4, 1, 2, 3, 4)

In [45]:
list(tuple_1)*2

[1, 2, 3, 4, 1, 2, 3, 4]